@font-face {
  font-family: IRANSansWeb;
  src: url(../fonts/iransans/eot/IRANSansWeb.eot);
  src: url(../fonts/iransans/eot/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/iransans/woff/IRANSansWeb.woff) format("woff"), url(../fonts/iransans/ttf/IRANSansWeb.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IRANSansWeb_Bold;
  src: url(../fonts/iransans/eot/IRANSansWeb_Bold.eot);
  src: url(../fonts/iransans/eot/IRANSansWeb_Bold.eot) format("embedded-opentype"), url(../fonts/iransans/woff/IRANSansWeb_Bold.woff) format("woff"), url(../fonts/iransans/ttf/IRANSansWeb_Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IRANSansWeb_Medium;
  src: url(../fonts/iransans/eot/IRANSansWeb_Medium.eot);
  src: url(../fonts/iransans/eot/IRANSansWeb_Medium.eot) format("embedded-opentype"), url(../fonts/iransans/woff/IRANSansWeb_Medium.woff) format("woff"), url(../fonts/iransans/ttf/IRANSansWeb_Medium.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IRANSansWeb_Light;
  src: url(../fonts/iransans/eot/IRANSansWeb_Light.eot);
  src: url(../fonts/iransans/eot/IRANSansWeb_Light.eot) format("embedded-opentype"), url(../fonts/iransans/woff/IRANSansWeb_Light.woff) format("woff"), url(../fonts/iransans/ttf/IRANSansWeb_Light.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: IRANSansWeb_UltraLight;
  src: url(../fonts/iransans/eot/IRANSansWeb_UltraLight.eot);
  src: url(../fonts/iransans/eot/IRANSansWeb_UltraLight.eot) format("embedded-opentype"), url(../fonts/iransans/woff/IRANSansWeb_UltraLight.woff) format("woff"), url(../fonts/iransans/ttf/IRANSansWeb_UltraLight.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

.nav-bar-main-top {
  background-color: #8f8f8f;
  color: white;
  padding: .3em;
}

.nav-bar-main-top ul li {
  position: relative;
  font-size: .75em;
  padding: 7px 0;
}

.nav-bar-main-top ul li a {
  padding: .4em .7em;
  color: #eee;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.nav-bar-main-top ul li a:hover {
  color: #fff;
}

.nav-bar-main-top ul li i {
  font-size: 1.4em;
  margin: 0 .4em 0 0;
  position: relative;
  top: 2px;
}

.nav-bar-main-top ul:first-child li:not(:last-child):before {
  content: '';
  background: #fff2;
  height: 13px;
  width: 1px;
  display: inline-block;
  position: absolute;
  left: -.9em;
  top: 11px;
}

@media (max-width: 768px) {
  .nav-bar-main-top ul:first-child {
    display: none;
  }
  .nav-bar-main-top ul:last-child {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header.header-main {
  background-color: white;
  -webkit-box-shadow: 0 0 3em #ddd;
          box-shadow: 0 0 3em #ddd;
  margin-bottom: 2em;
}

header.header-main .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
}

header.header-main .content .search-box {
  position: relative;
  width: 50%;
  margin: 0;
}

header.header-main .content .logo {
  width: 10em;
}

header.header-main .content .btn-c {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8em;
}

header.header-main .content .btn-c i {
  font-size: 1.6em;
  padding: .8em .8em .8em .6em;
}

header.header-main .content .btn-c span {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #c3262f;
  color: #fbfbfb;
  height: 1.3em;
  width: 1.3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: .85em;
  border-radius: 20px;
  padding-top: 2px;
}

@media (max-width: 576px) {
  header.header-main .content .btn-c small {
    display: none;
  }
}

header.header-main .search-box {
  position: relative;
  margin-top: 1.5em;
}

header.header-main .search-box form {
  width: 100%;
  margin: 0;
}

header.header-main .search-box form input {
  width: 100%;
  border: none;
  background-color: #f7f7f7;
  padding: 1.1em 4em;
  font-size: .8em;
  border-radius: 50px;
  outline: none;
}

header.header-main .search-box form input::-webkit-input-placeholder {
  color: #aaa;
}

header.header-main .search-box form input:-moz-placeholder {
  color: #aaa;
}

header.header-main .search-box form input::-moz-placeholder {
  color: #aaa;
}

header.header-main .search-box form input:-ms-input-placeholder {
  color: #aaa;
}

header.header-main .search-box form input::-ms-input-placeholder {
  color: #aaa;
}

header.header-main .search-box form input::placeholder {
  color: #aaa;
}

header.header-main .search-box form > button {
  background-color: transparent;
  padding: .65em 1em .65em .2em;
  position: absolute;
  font-size: 1.2em;
  outline: none;
  border: none;
  color: #999;
}

header.header-main .search-box form .category-select {
  width: 35%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  cursor: pointer;
  left: 1px;
  top: 1px;
  background-color: white;
  border-radius: 50px 0 0 50px;
  height: 94%;
  font-size: .8em;
  padding: .85em 2em;
  color: #777;
}

header.header-main .search-box form .category-select > i {
  position: absolute;
  top: 17px;
  left: 24px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

header.header-main .search-box form .category-select .category-items {
  display: none;
  position: absolute;
  top: 104%;
  z-index: 100;
  background-color: #f8f8f8;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0 6px 12px;
          box-shadow: 0 6px 12px;
  right: 0;
  width: 100%;
}

header.header-main .search-box form .category-select.focus ul {
  display: block;
}

header.header-main .search-box form .category-select.focus > i {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 768px) {
  header.header-main .search-box form .category-select {
    width: 45%;
  }
}

@media (max-width: 768px) {
  header.header-main .content .search-box {
    display: none;
  }
}

@media (min-width: 768px) {
  header.header-main .container > .search-box {
    display: none;
  }
}

.menu-mobile {
  top: 0;
  right: 0;
  position: fixed;
  background-color: white;
  -webkit-box-shadow: 0 0 15px #444;
          box-shadow: 0 0 15px #444;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  width: 300px;
  height: 110%;
  z-index: 200;
  overflow: auto;
  padding-bottom: 5em;
}

.menu-mobile.hidden {
  right: -300px;
}

.menu-mobile header {
  padding: 1em 5em;
  border-bottom: 1px solid #eee;
}

.menu-mobile > ul li {
  border: unset;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.menu-mobile > ul > li:after {
  content: "\f055";
  font-family: "Font Awesome 5 Pro", serif;
  position: absolute;
  color: #7777;
  left: 2em;
  top: 1em;
}

.menu-mobile > ul > li > ul {
  display: none;
  padding-right: 1em;
}

.menu-mobile > ul > li > ul li {
  padding: 0;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: IranSansWeb_Light, serif;
}

.menu-mobile > ul > li > ul li > a {
  display: inline-block;
  padding: .6em;
}

.menu-mobile > ul > li > ul li > i {
  padding: .6em 1.2em;
  float: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777;
}

.menu-mobile > ul > li > ul > li > ul {
  padding-right: 1em;
  font-size: .9em;
  display: none;
}

.menu-mobile > ul > li > ul > li > ul > li {
  color: #c3262f;
}

footer.main-footer {
  margin-top: 4em;
  background-color: white;
  padding-top: 6em;
  -webkit-box-shadow: 0 0 2em #4442;
          box-shadow: 0 0 2em #4442;
  border-bottom: 5px solid #c3262f;
  font-family: IranSansWeb_Light, serif;
}

footer.main-footer h3 {
  margin-bottom: 2em;
}

footer.main-footer :not(h3) {
  color: #777;
}

footer.main-footer p {
  font-size: .9em;
  line-height: 2;
}

footer.main-footer h2 {
  font-weight: 600;
  color: #333;
  font-size: 1.7em;
}

footer.main-footer ul {
  list-style: decimal;
}

footer.main-footer ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: .4em 1.2em;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: .9em;
}

footer.main-footer ul li:before {
  content: '';
  background-color: #c3262f;
  height: .4em;
  width: .4em;
  border-radius: 5px;
  position: absolute;
  right: 3px;
}

footer.main-footer .logo {
  width: 100%;
}

footer.main-footer .license {
  margin-top: 4em;
  padding: 2em 0;
  color: #666;
  border-top: 1px solid #4441;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  footer.main-footer {
    font-size: 1.1em;
    padding-top: 2em;
    font-family: IRANSansWeb_Medium, serif;
  }
  footer.main-footer > div > div:first-child {
    padding: 0 1.5em;
  }
  footer.main-footer h3 {
    margin-bottom: .5em;
    margin-top: 1.5em;
  }
  footer.main-footer .license {
    margin-top: 2em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer.main-footer .license small {
    font-size: .7em;
    margin-bottom: 2em;
  }
}

.main-content {
  overflow: hidden;
}

.nav-bar-main-bottom {
  position: relative;
  top: 1.9em;
  background-color: #c3262f;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5em;
  font-family: IranSansWeb_Light, serif;
  font-size: .9em;
  border-radius: .6em;
}

.nav-bar-main-bottom > ul {
  cursor: pointer;
}

.nav-bar-main-bottom > ul > li {
  font-size: 1em;
  margin: 0;
}

.nav-bar-main-bottom > ul > li:first-child {
  border-left: 1px dashed #fff7;
}

.nav-bar-main-bottom > ul > li > a {
  display: inline-block;
  padding: .6em 1em;
}

.nav-bar-main-bottom > ul > li > a:hover {
  color: white !important;
}

.nav-bar-main-bottom > ul > li.category > div {
  display: none;
  position: absolute;
  border-radius: .4em;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 7px #444;
          box-shadow: 0 3px 7px #444;
  font-size: .9em;
  overflow: hidden;
  z-index: 20;
  width: 100%;
  right: 1em;
  top: 4.5em;
  color: #444;
}

.nav-bar-main-bottom > ul > li.category > div .category-items {
  background-color: #f6f6f6;
}

.nav-bar-main-bottom > ul > li.category > div .category-items li {
  padding: 1em;
  display: block;
  margin: 0;
}

.nav-bar-main-bottom > ul > li.category > div .category-items li i {
  padding-left: .3em;
}

.nav-bar-main-bottom > ul > li.category > div .category-sub header h6 {
  font-weight: 600;
  font-size: .95em;
  padding: .6em;
  color: #444;
  margin: 0;
}

.nav-bar-main-bottom > ul > li.category > div .category-sub .body {
  height: 235px;
}

.nav-bar-main-bottom > ul > li.category > div .category-sub .body > div {
  height: 100%;
  -webkit-column-count: 5;
  -moz-column-count: 5;
  -ms-column-count: 5;
  -o-column-count: 5;
  column-count: 5;
  -webkit-columns: 5;
     -moz-columns: 5;
          columns: 5;
}

.nav-bar-main-bottom > ul > li.category > div .category-sub .body > div > ul {
  list-style: none;
}

.nav-bar-main-bottom > ul > li.category > div .category-sub .body > div > ul > li {
  position: relative;
  display: inline-block;
  font-weight: 600;
  color: #c3262f;
}

.nav-bar-main-bottom > ul > li.category > div .category-sub .body > div > ul > li:before {
  content: '';
  background-color: #c3262f;
  height: .4em;
  width: .4em;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 14px;
}

.nav-bar-main-bottom > ul > li.category > div .category-sub .body > div > ul > li a {
  display: inline-block;
  padding: .4em .8em;
}

.nav-bar-main-bottom > ul > li.category > div .category-sub .body > div > ul > li > ul {
  list-style: none;
}

.nav-bar-main-bottom > ul > li.category > div .category-sub .body > div > ul > li > ul > li {
  display: inline-block;
  font-weight: 100;
  color: #444;
}

.nav-bar-main-bottom > ul > li.category > div .category-sub .body > div:not(:first-child) {
  display: none;
}

.nav-bar-main-bottom > ul > li.category > div .category-sub footer {
  display: block;
}

.nav-bar-main-bottom > a {
  background: white;
  color: #c3262f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5em;
  border-radius: .5em 30px 30px .5em;
  font-size: .9em;
  font-weight: 700;
}

.nav-bar-main-bottom > i {
  font-size: 1.8em;
  padding: .2em .21em;
}

.nav-bar-main-bottom > div {
  background: #fff4;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5em;
  border-radius: 30px;
  font-size: .9em;
  font-weight: 700;
}

.nav-bar-main-bottom .advanced-search {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 768px) {
  .nav-bar-main-bottom ul {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-bar-main-bottom > i, .nav-bar-main-bottom > div {
    display: none;
  }
}

.page-address {
  font-size: .73em;
  padding: 2em 0;
}

.page-address i {
  font-size: 1em;
  color: #999;
}

.page-address ul {
  display: inline-block;
  color: #888;
}

.page-address ul li {
  margin: 0;
}

.page-address ul li a {
  display: inline-block;
  padding: 0 1.5em;
}

.page-address ul li:not(:last-child):after {
  content: '/';
  display: inline-block;
}

@media (max-width: 768px) {
  .page-address {
    font-size: .6em;
    padding: 2em 0 1em 0;
  }
}

.sidebar {
  margin-bottom: 2em;
}

.sidebar ul li {
  position: relative;
  display: block;
  padding: 0 1em;
  margin: 0;
}

.sidebar ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8em;
}

.sidebar ul li a i {
  background-color: #7771;
  height: 2.4em;
  width: 2.4em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  color: #222;
  font-size: 1.4em;
  margin-left: .8em;
}

.sidebar ul li:not(:last-child):after {
  content: '';
  background-color: #6661;
  width: 85%;
  height: 1px;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}

.sidebar ul li.active {
  color: #c3262f;
}

.sidebar ul li.active i {
  background-color: #c3262f;
  color: white;
}

.profile-edit header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.profile-edit header a {
  color: #c3262f;
  font-weight: 600;
  font-size: .9em;
}

.profile-edit form {
  margin: 0;
}

.profile-edit form section {
  padding: 1.5em 2em;
}

.profile-edit form section:not(:last-child) {
  border-bottom: 1px solid #5551;
}

.home-page .banners .row {
  direction: ltr;
}

.home-page .banners .row > div:last-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .home-page .banners .row > div:last-child {
    -webkit-box-orient: unset !important;
    -webkit-box-direction: unset !important;
    -webkit-flex-direction: unset !important;
       -moz-box-orient: unset !important;
       -moz-box-direction: unset !important;
        -ms-flex-direction: unset !important;
            flex-direction: unset !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home-page .banners .row img {
    padding: .3em;
  }
}

.home-page .special-sale-slider .swiper-slide {
  padding: 1.5em 1.5em 0 1.5em;
  position: absolute;
}

.home-page .special-sale-slider .swiper-slide:not(:first-child) {
  display: none;
}

.home-page .special-sale-slider .swiper-slide .discount {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .special-sale-slider .swiper-slide .discount .percentage {
  -webkit-box-shadow: 1px 3px 8px #4443;
          box-shadow: 1px 3px 8px #4443;
  background-color: #4dcb4d;
  text-align: center;
  border-radius: 3em;
  padding: .85em 0;
  height: 3.2em;
  width: 3.2em;
  color: white;
  z-index: 3;
}

.home-page .special-sale-slider .swiper-slide .discount .percentage span {
  font-size: 1.6em;
  line-height: .7;
}

.home-page .special-sale-slider .swiper-slide .discount .percentage small {
  font-size: .6em;
}

.home-page .special-sale-slider .swiper-slide .discount .time {
  direction: ltr;
}

.home-page .special-sale-slider .swiper-slide .discount .time .flipTimer {
  zoom: .31;
}

.home-page .special-sale-slider .swiper-slide .discount .time .flipTimer .digit-set:last-child {
  margin-left: 11px;
}

.home-page .special-sale-slider .swiper-slide .product-img {
  padding: 0 1.5em;
}

.home-page .special-sale-slider .swiper-slide h3 {
  color: #444;
  margin-bottom: 2em;
}

.home-page .special-sale-slider .swiper-slide .price {
  font-size: 1.3em;
}

.home-page .special-sale-slider .swiper-slide ul {
  margin: 2em 0;
}

.home-page .special-sale-slider .swiper-slide ul li {
  position: relative;
  margin: 0;
  padding: 0 1em;
  font-size: .9em;
}

.home-page .special-sale-slider .swiper-slide ul li:first-child {
  padding-right: 0;
}

.home-page .special-sale-slider .swiper-slide ul li:not(:last-child):after {
  content: '/';
  display: inline-block;
  position: absolute;
  left: 0;
}

.home-page .special-sale-slider .swiper-slide .product-show-btn {
  font-size: .8em;
  padding: .8em 2.5em;
  background-color: #3fc73f;
}

@media (max-width: 768px) {
  .home-page .special-sale-slider .swiper-slide .product-show-btn {
    display: block;
    width: 60%;
    margin: auto;
  }
  .home-page .special-sale-slider .swiper-slide .price {
    font-size: 1.2em;
  }
  .home-page .special-sale-slider .swiper-slide ul {
    font-size: .8em;
    color: #999;
  }
}

.home-page .special-sale-slider .slider-buttons ul li {
  background-color: #f6f6f6;
  border-radius: .9em;
  position: relative;
  text-align: center;
  font-size: .9em;
  display: block;
  margin: .6em 0;
  cursor: pointer;
  padding: 1em;
  color: #666;
}

.home-page .special-sale-slider .slider-buttons ul li:hover {
  background-color: #eaeaea;
}

.home-page .special-sale-slider .slider-buttons ul li.active {
  border-radius: .9em;
  background-color: #c3262f;
  color: white;
}

@media (min-width: 768px) {
  .home-page .special-sale-slider .slider-buttons ul li.active {
    border-radius: .9em .4em .4em .9em;
  }
  .home-page .special-sale-slider .slider-buttons ul li.active:before {
    content: '';
    top: 0;
    width: 8px;
    right: -4px;
    height: 100%;
    display: block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/right.png");
  }
}

@media (max-width: 768px) {
  .home-page .special-sale-slider {
    margin-bottom: 3em;
  }
  .home-page .special-sale-slider .col-md-8 {
    height: 34em;
  }
}

.home-page .product-footer-features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4em 6em;
}

.home-page .product-footer-features > div {
  font-size: .95em;
  color: #555;
}

.home-page .product-footer-features > div .img {
  margin: 0 auto;
  display: block;
  height: 3.5em;
  width: 3.5em;
  background-image: url("../img/Annotation.png");
  background-size: cover;
}

.home-page .product-footer-features > div p {
  padding-top: 1em;
}

.home-page .product-footer-features > div:nth-child(2) .img {
  background-position-x: 25%;
}

.home-page .product-footer-features > div:nth-child(3) .img {
  background-position-x: 50%;
}

.home-page .product-footer-features > div:nth-child(4) .img {
  background-position-x: 75%;
}

.home-page .product-footer-features > div:nth-child(5) .img {
  background-position-x: 100%;
}

@media (max-width: 768px) {
  .home-page .product-footer-features {
    display: none;
  }
}

.home-page .product-slider {
  padding: 4em 0 4em 0;
  background-color: white;
}

.home-page .product-slider header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5em;
}

.home-page .product-slider header h2 {
  font-weight: 600;
  font-size: 1.5em;
  margin: 0;
}

.home-page .product-slider header a {
  background-color: #c3262f;
  color: white;
  padding: .8em 2em;
  border-radius: 3em;
  font-size: .7em;
}

@media (min-width: 768px) {
  .home-page .product-slider .height-c {
    height: 380px;
  }
}

@media (max-width: 768px) {
  .home-page .product-slider {
    padding: 3em 0 4em 0;
  }
  .home-page .product-slider header {
    padding: 0 1em;
  }
  .home-page .product-slider header h2 {
    font-size: 1.3em;
  }
  .home-page .product-slider > div {
    padding: 0;
  }
}

.home-page .recommended-products {
  background-image: url("../img/slider5.jpg");
  padding: 4em 0;
}

@media (max-width: 768px) {
  .home-page .recommended-products {
    padding: 3em 2em;
  }
  .home-page .recommended-products img {
    margin: 1em 0;
  }
}

.home-page .brands {
  padding-top: 4em;
}

.home-page .brands .images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap !important;
      -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important;
}

.home-page .brands .images a {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: block;
  overflow: hidden;
  border-radius: 0.5em;
  border: 1px solid #8882;
  margin: 5px;
  width: 11%;
}

@media (max-width: 768px) {
  .home-page .brands {
    padding: 4em 0 0 0;
  }
  .home-page .brands .images a {
    width: 40%;
  }
}

.home-page .score-today {
  padding: 3em 0;
}

.home-page .score-today .main-box {
  text-align: center;
  padding: 1.5em;
}

.home-page .score-today .main-box img {
  width: 70%;
}

.home-page .score-today .main-box h4 {
  margin-bottom: .6em;
  font-size: 1.3em;
  font-weight: 600;
  color: #444;
}

.home-page .score-today .main-box small {
  margin-bottom: .7em;
  display: block;
  color: #c3262f;
}

.home-page .score-today .main-box p {
  font-size: .9em;
  color: #333;
  margin-bottom: .5em;
}

@media (max-width: 768px) {
  .home-page .score-today {
    padding: 3em 0 0 0;
  }
}

.home-page .instrument-sets {
  background-color: #c3262f;
  padding: 4.5em 0;
}

.home-page .instrument-sets .main-box {
  border-radius: .6em;
  font-size: .9em;
}

.home-page .instrument-sets .main-box .price {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .home-page .instrument-sets > div {
    padding: 0;
  }
}

.home-page .tools {
  padding: 5em 0;
}

.home-page .tools img {
  border-radius: 1.5em;
}

.home-page .tools .main-box {
  padding: 1.5em;
  border-radius: 1em;
}

.home-page .tools .main-box img {
  border-radius: .7em;
}

@media (max-width: 768px) {
  .home-page .tools {
    padding: 4em 3em;
  }
  .home-page .tools .main-box {
    padding: 1em;
  }
  .home-page .tools .main-box > div > div:first-child img {
    margin-bottom: 1em;
  }
}

.home-page .quick-access .main-box {
  padding: 2em;
}

.home-page .quick-access .main-box .row > div {
  padding: 0;
}

.home-page .quick-access .main-box .row > div a {
  display: block;
  text-align: center;
}

.home-page .quick-access .main-box .row > div a img {
  width: 45%;
  margin-top: 2em;
}

@media (max-width: 768px) {
  .home-page .quick-access .main-box .row > div a img {
    width: 70%;
  }
}

.home-page .quick-access .main-box .row > div a p {
  font-weight: 600;
  font-size: .9em;
  padding: .8em 0;
  margin: 0;
}

@media (min-width: 768px) {
  .home-page .quick-access .main-box .row > div:nth-child(-n+4) a {
    border-bottom: 1px solid #7771;
  }
  .home-page .quick-access .main-box .row > div:nth-child(-n+4) a p {
    margin-bottom: 2em;
  }
  .home-page .quick-access .main-box .row > div:nth-child(-n+4) a img {
    margin-top: 0;
  }
  .home-page .quick-access .main-box .row > div:nth-child(-n+3) a {
    border-left: 1px solid #7771;
  }
  .home-page .quick-access .main-box .row > div:nth-child(5) a {
    border-left: 1px solid #7771;
  }
  .home-page .quick-access .main-box .row > div:nth-child(6) a {
    border-left: 1px solid #7771;
  }
  .home-page .quick-access .main-box .row > div:nth-child(7) a {
    border-left: 1px solid #7771;
  }
}

.login header .tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.5em !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #4441;
}

.login header .tabs li {
  padding: 1.6em 1em;
  margin: 0;
  width: 10em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  border-bottom: 3px solid #fff1;
  position: relative;
  top: 2px;
}

.login header .tabs li.active {
  border-bottom: 3px solid #c3262f;
  color: #c3262f;
}

.login .sign-up-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 1.6em 1em;
  border-bottom: 2px solid #5551;
}

.login .sign-up-tabs button {
  width: 30%;
  padding: .7em;
  font-size: .7em;
  border-radius: .4em;
}

.login section {
  border-bottom: 2px solid #5551;
  padding: 1.8em;
}

.login .captcha {
  width: 100%;
  margin: 2em 0;
}

.login form {
  margin: 0;
}

.login footer {
  font-size: .8em;
  font-weight: 600;
  text-align: center;
  padding: 1.8em 0;
  border-top: 1px solid #4441;
  color: #c3262f;
}

.score .main-box header {
  padding: 1.8em 2em;
}

.score .main-box header span {
  color: #c3262f;
}

.score .main-box ul {
  padding: 1.2em;
}

.score .main-box ul li {
  display: block;
  border: 1px solid #6661;
  margin-bottom: 1em;
  border-radius: .5em;
  font-size: .9em;
  color: #555;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
}

.score .main-box ul li:hover {
  -webkit-box-shadow: 0 0 9px #4442;
          box-shadow: 0 0 9px #4442;
}

.score .main-box ul li a {
  cursor: pointer;
  display: block;
  padding: 1.5em;
}

.score .main-box ul li a:before {
  content: '\f005';
  font-family: "Font Awesome 5 Pro", serif;
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: #c3262f;
  font-size: 1.3em;
  margin-left: .4em;
  position: relative;
  top: 3px;
}

.shop .products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 3em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop .products .product-box {
  width: 17.5%;
  display: inline-block;
  margin-bottom: 2.5em;
}

@media (max-width: 768px) {
  .shop .products {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .shop .products .product-box {
    width: 100%;
  }
  .shop .products .product-box a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .shop .products .product-box a .main-box {
    width: 30%;
  }
  .shop .products .product-box a .body {
    padding: .5em;
    text-align: right;
    font-size: .9em;
  }
  .shop .products .product-box a .body .product-name {
    margin-top: .5em;
  }
  .shop .products .product-box a .body .stars {
    margin: .5em 0;
  }
}

.product-page .product-box {
  padding: 1em 0;
}

.product-page .product-box .zoom-box {
  margin: 1em 3.5em;
}

.product-page .product-box .gallery ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 1em;
}

.product-page .product-box .gallery ul li {
  width: 22%;
  padding: .2em;
  border: 1px solid #4442;
  border-radius: .2em;
  margin: 0;
  cursor: pointer;
}

.product-page .product-box header {
  padding: 1.2em;
  border-bottom: 2px solid #5551;
}

.product-page .product-box header h1 {
  font-size: 1.1em;
  margin-bottom: .2em;
}

.product-page .product-box header label {
  font-size: .7em;
  color: #999;
  margin: 0;
}

.product-page .product-box .body {
  padding: 1.8em 1.2em;
}

.product-page .product-box .body .price {
  font-size: 1.2em;
}

.product-page .product-box .body .numProduct {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.1em 0;
  font-size: .9em;
}

.product-page .product-box .body .numProduct p {
  margin: 0 .5em;
  padding: .7em 3em;
  border: 1px solid #2221;
  border-radius: .7em;
}

.product-page .product-box .body .numProduct span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4441;
  border-radius: .6em;
  padding: 0 1.3em;
  color: #888;
  cursor: pointer;
}

.product-page .product-box .body p.details {
  margin-bottom: .5em;
  font-size: .9em;
  color: #555;
}

.product-page .product-box footer {
  border-top: 2px solid #5551;
}

.product-page .product-box footer .d-flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-page .product-box footer .d-flex .icons {
  font-size: 1.1em;
}

.product-page .product-box footer .d-flex .stars {
  zoom: .8;
  margin: 0 0 0 1em;
}

.product-page .product-info {
  position: relative;
  max-height: 100em;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  transition: 3s;
}

.product-page .product-info:after {
  content: '';
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -12px;
  -webkit-box-shadow: 0 -29px 33px #ffffff;
          box-shadow: 0 -29px 33px #ffffff;
  background-color: white;
}

.product-page .product-info .text {
  padding: 2.3em 2.3em 3.2em 2.3em;
}

.product-page .product-info .show-more {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 10.5em;
  font-size: .7em;
  background-color: #eee;
  text-align: center;
  color: #555;
  padding: 1em;
  border-radius: .7em;
  cursor: pointer;
}

.product-page .technical-specifications .details {
  padding: 2.3em;
}

.product-page .technical-specifications .details ul li {
  display: block;
  padding: 1.2em 1em;
  border-radius: .5em;
  color: #555;
  margin: 0;
}

.product-page .technical-specifications .details ul li:nth-child(2n) {
  background-color: #5551;
}

.product-page .technical-specifications .details ul li span {
  width: 50%;
  display: inline-block;
}

.product-page .technical-specifications .details ul li p {
  display: inline-block;
  margin: 0;
}

.product-page .related-products .height-c {
  height: 380px;
}

.product-page .related-products .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-page .related-products .row .product-box {
  width: 18%;
}

.product-page > div {
  margin-bottom: 4em;
}

.about-us .brands div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us .brands div a {
  display: inline-block;
  width: 32%;
  margin-bottom: .7em;
  overflow: hidden;
  border-radius: 0.5em;
  border: 1px solid #8882;
}

.my-order .body {
  padding: 0 1.5em 1.5em 1.5em;
}

.my-order .body table tr th {
  background-color: #4449;
  vertical-align: middle;
  color: white;
  font-weight: 100;
  border: unset;
}

.my-order .body table tr th:first-child {
  border-radius: 0 10px 10px 0;
}

.my-order .body table tr th:last-child {
  border-radius: 10px 0 0 10px;
}

.my-order .body table tr td {
  vertical-align: middle;
  border: unset;
  color: #666;
}

.my-order .body table tr:nth-child(2n) td {
  background-color: #5551;
  font-weight: 100;
  border: unset;
}

.my-order .body table tr:nth-child(2n) td:first-child {
  border-radius: 0 10px 10px 0;
}

.my-order .body table tr:nth-child(2n) td:last-child {
  border-radius: 10px 0 0 10px;
}

@media (min-width: 768px) {
  .my-order .body table {
    display: table;
  }
}

.order-details section:first-child {
  border-bottom: 1px solid #8881;
}

@media (max-width: 768px) {
  .order-details header {
    font-size: .9em;
    text-align: center;
  }
  .order-details header h2 {
    margin-bottom: 1em !important;
  }
  .order-details header a {
    color: #c3262f;
    font-weight: 600;
    font-size: .9em;
  }
  .order-details .product-details {
    padding: .8em .5em .5em .5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .order-details .product-details .product-img {
    width: 30%;
  }
  .order-details .product-details .product-img img {
    width: 100%;
    border: 1px solid #4442;
  }
  .order-details .product-details .body {
    width: 65%;
    font-size: .9em;
  }
  .order-details .product-details .body > div:first-child {
    border-bottom: 1px solid #4441;
  }
  .order-details .product-details .body > div {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: .8em;
  }
  .order-details .product-details .body > div strong {
    padding-left: .5em;
  }
  .order-details .product-details .body > div:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: .3em;
  }
  .order-details .product-details .body > div:last-child > div {
    padding: .3em 0;
  }
  .order-details .product-details div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .order-details .product-details:not(:last-child) {
    border-bottom: 1px solid #6664;
  }
  .order-details .address {
    border-radius: 1em;
    margin: 2.5em;
    background-color: #8881;
    padding: 2em;
    font-size: .8em;
    line-height: 4;
  }
  .order-details .address p {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .order-details header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .order-details header a {
    color: #c3262f;
    font-weight: 600;
    font-size: .9em;
  }
  .order-details .product-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 2em;
    margin-bottom: 1em;
  }
  .order-details .product-details .product-img {
    width: 20%;
  }
  .order-details .product-details .product-img img {
    width: 6em;
    border: 1px solid #4442;
  }
  .order-details .product-details .body {
    width: 80%;
  }
  .order-details .product-details .body > div:first-child {
    border-bottom: 1px solid #4441;
  }
  .order-details .product-details .body > div {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 0;
    font-size: .8em;
  }
  .order-details .product-details .body > div strong {
    padding-left: .5em;
  }
  .order-details .product-details div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .order-details .address {
    border-radius: 1em;
    margin: 2em;
    background-color: #8881;
    padding: 2em;
    font-size: .8em;
    line-height: 4;
  }
  .order-details .address p {
    margin: 0;
  }
}

.favorite-product .height-c {
  height: 400px;
}

.site-rule .body {
  padding: 2em;
}

.site-rule .body h4 {
  font-size: 1em;
  color: #c3262f;
  font-weight: 600;
}

.return-product .body {
  padding: 0 2em 2em 2em;
}

.add-address header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-address header h2 {
  font-size: 1.1em;
  font-weight: 600;
}

.add-address header a {
  color: #c3262f;
  font-weight: 600;
  font-size: .9em;
}

.add-address .address {
  min-height: 20em;
}
/*# sourceMappingURL=style.css.map */