// Main file style project Achar
// Last Update */**/2020


// Custom colors
$c-gray: #8f8f8f;
$c-red: #c3262f;

$w-sm: 576px;
$w-md: 768px;
$w-lg: 992px;

@font-face {
  font-family: IRANSansWeb;
  src: url(../fonts/iransans/eot/IRANSansWeb.eot);
  src: url(../fonts/iransans/eot/IRANSansWeb.eot) format('embedded-opentype'),
  url(../fonts/iransans/woff/IRANSansWeb.woff) format('woff'),
  url(../fonts/iransans/ttf/IRANSansWeb.ttf) format('truetype');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: IRANSansWeb_Bold;
  src: url(../fonts/iransans/eot/IRANSansWeb_Bold.eot);
  src: url(../fonts/iransans/eot/IRANSansWeb_Bold.eot) format('embedded-opentype'),
  url(../fonts/iransans/woff/IRANSansWeb_Bold.woff) format('woff'),
  url(../fonts/iransans/ttf/IRANSansWeb_Bold.ttf) format('truetype');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: IRANSansWeb_Medium;
  src: url(../fonts/iransans/eot/IRANSansWeb_Medium.eot);
  src: url(../fonts/iransans/eot/IRANSansWeb_Medium.eot) format('embedded-opentype'),
  url(../fonts/iransans/woff/IRANSansWeb_Medium.woff) format('woff'),
  url(../fonts/iransans/ttf/IRANSansWeb_Medium.ttf) format('truetype');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: IRANSansWeb_Light;
  src: url(../fonts/iransans/eot/IRANSansWeb_Light.eot);
  src: url(../fonts/iransans/eot/IRANSansWeb_Light.eot) format('embedded-opentype'),
  url(../fonts/iransans/woff/IRANSansWeb_Light.woff) format('woff'),
  url(../fonts/iransans/ttf/IRANSansWeb_Light.ttf) format('truetype');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: IRANSansWeb_UltraLight;
  src: url(../fonts/iransans/eot/IRANSansWeb_UltraLight.eot);
  src: url(../fonts/iransans/eot/IRANSansWeb_UltraLight.eot) format('embedded-opentype'),
  url(../fonts/iransans/woff/IRANSansWeb_UltraLight.woff) format('woff'),
  url(../fonts/iransans/ttf/IRANSansWeb_UltraLight.ttf) format('truetype');
  font-weight: 400;
  font-style: normal
}

@media (max-width: $w-sm) {
}

@media (max-width: $w-md) {
}

@media (max-width: $w-lg) {
}

// Main style
.nav-bar-main-top {
  background-color: $c-gray;
  color: white;
  padding: .3em;

  ul {

    li {
      position: relative;
      font-size: .75em;
      padding: 7px 0;

      a {
        padding: .4em .7em;
        color: #eee;
        transition: .3s;

        &:hover {
          color: #fff;
        }
      }

      i {
        font-size: 1.4em;
        margin: 0 .4em 0 0;
        position: relative;
        top: 2px;
      }

    }

    &:first-child {
      li {
        &:not(:last-child):before {
          content: '';
          background: #fff2;
          height: 13px;
          width: 1px;
          display: inline-block;
          position: absolute;
          left: -.9em;
          top: 11px;
        }
      }
    }
  }

  @media (max-width: $w-sm) {
  }

  @media (max-width: $w-md) {
    ul:first-child {
      display: none;
    }
    ul:last-child {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  @media (max-width: $w-lg) {

  }
}

header.header-main {
  background-color: white;
  box-shadow: 0 0 3em #ddd;
  margin-bottom: 2em;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;

    .search-box {
      position: relative;
      width: 50%;
      margin: 0;
    }

    .logo {
      width: 10em;
    }

    .btn-c {
      display: flex;
      position: relative;
      align-items: center;
      font-size: .8em;

      i {
        font-size: 1.6em;
        padding: .8em .8em .8em .6em;
      }

      span {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: $c-red;
        color: #fbfbfb;
        height: 1.3em;
        width: 1.3em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .85em;
        border-radius: 20px;
        padding-top: 2px;
      }

      @media (max-width: $w-sm) {
        small {
          display: none;
        }
      }

    }
  }

  .search-box {
    position: relative;
    margin-top: 1.5em;

    form {
      width: 100%;
      margin: 0;

      input {
        width: 100%;
        border: none;
        background-color: #f7f7f7;
        padding: 1.1em 4em;
        font-size: .8em;
        border-radius: 50px;
        outline: none;

        &::placeholder {
          color: #aaa;
        }
      }

      > button {
        background-color: transparent;
        padding: .65em 1em .65em .2em;
        position: absolute;
        font-size: 1.2em;
        outline: none;
        border: none;
        color: #999;
      }

      .category-select {
        width: 35%;
        display: flex;
        align-items: center;
        position: absolute;
        cursor: pointer;
        left: 1px;
        top: 1px;
        background-color: white;
        border-radius: 50px 0 0 50px;
        height: 94%;
        font-size: .8em;
        padding: .85em 2em;
        color: #777;

        > i {
          position: absolute;
          top: 17px;
          left: 24px;
          transition: .3s;
        }

        .category-items {
          display: none;
          position: absolute;
          top: 104%;
          z-index: 100;
          background-color: #f8f8f8;
          transition: .5s;
          box-shadow: 0 6px 12px;
          right: 0;
          width: 100%;
        }

        &.focus {
          ul {
            display: block;
          }

          > i {
            transform: rotate(180deg);
          }
        }

        @media (max-width: $w-md) {
          width: 45%;
        }
      }
    }
  }

  @media (max-width: $w-md) {
    .content {
      .search-box {
        display: none;
      }
    }
  }

  @media (min-width: $w-md) {
    .container > .search-box {
      display: none;
    }
  }
}

.menu-mobile {

  &.hidden {
    right: -300px;
  }

  top: 0;
  right: 0;
  position: fixed;
  background-color: white;
  box-shadow: 0 0 15px #444;
  transition: .3s;
  width: 300px;
  height: 110%;
  z-index: 200;
  overflow: auto;
  padding-bottom: 5em;

  header {
    padding: 1em 5em;
    border-bottom: 1px solid #eee;
  }

  > ul {

    li {
      border: unset;
      position: relative;
      user-select: none;
    }

    > li {
      &:after {
        content: "\f055";
        font-family: "Font Awesome 5 Pro", serif;
        position: absolute;
        color: #7777;
        left: 2em;
        top: 1em;
      }

      > ul {
        display: none;
        padding-right: 1em;

        li {
          padding: 0;
          align-content: center;
          justify-content: space-between;
          font-family: IranSansWeb_Light, serif;

          > a {
            display: inline-block;
            padding: .6em;
          }

          > i {
            padding: .6em 1.2em;
            float: left;
            align-items: center;
            color: #777;
          }
        }

        > li {
          > ul {
            padding-right: 1em;
            font-size: .9em;
            display: none;

            > li {
              color: $c-red;
            }
          }
        }
      }
    }
  }
}

footer.main-footer {
  margin-top: 4em;
  background-color: white;
  padding-top: 6em;
  box-shadow: 0 0 2em #4442;
  border-bottom: 5px solid $c-red;
  font-family: IranSansWeb_Light, serif;

  h3 {
    margin-bottom: 2em;
  }

  :not(h3) {
    color: #777;
  }

  p {
    font-size: .9em;
    line-height: 2;
  }

  h2 {
    font-weight: 600;
    color: #333;
    font-size: 1.7em;
  }

  ul {
    list-style: decimal;

    li {
      display: flex;
      padding: .4em 1.2em;
      align-items: center;
      position: relative;
      font-size: .9em;

      &:before {
        content: '';
        background-color: #c3262f;
        height: .4em;
        width: .4em;
        border-radius: 5px;
        position: absolute;
        right: 3px;
      }
    }
  }

  .logo {
    width: 100%;
  }

  .license {
    margin-top: 4em;
    padding: 2em 0;
    color: #666;
    border-top: 1px solid #4441;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: $w-md) {
    font-size: 1.1em;
    padding-top: 2em;
    font-family: IRANSansWeb_Medium, serif;

    > div > div:first-child {
      padding: 0 1.5em;
    }

    h3 {
      margin-bottom: .5em;
      margin-top: 1.5em;
    }

    .license {
      margin-top: 2em;
      justify-content: center;

      small {
        font-size: .7em;
        margin-bottom: 2em;
      }
    }
  }
}

.main-content {
  overflow: hidden;
}

.nav-bar-main-bottom {
  position: relative;
  top: 1.9em;
  background-color: $c-red;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: .5em;
  font-family: IranSansWeb_Light, serif;
  font-size: .9em;
  border-radius: .6em;

  > ul {
    cursor: pointer;

    > li {
      font-size: 1em;
      margin: 0;

      &:first-child {
        border-left: 1px dashed #fff7;
      }

      > a {
        display: inline-block;
        padding: .6em 1em;

        &:hover {
          color: white !important;
        }
      }

      &.category {
        > div {
          display: none;
          position: absolute;
          border-radius: .4em;
          background-color: #fff;
          box-shadow: 0 3px 7px #444;
          font-size: .9em;
          overflow: hidden;
          z-index: 20;
          width: 100%;
          right: 1em;
          top: 4.5em;
          color: #444;

          .category-items {
            background-color: #f6f6f6;

            li {
              padding: 1em;
              display: block;
              margin: 0;

              i {
                padding-left: .3em;
              }
            }
          }

          .category-sub {
            header {
              h6 {
                font-weight: 600;
                font-size: .95em;
                padding: .6em;
                color: #444;
                margin: 0;
              }
            }

            .body {
              height: 235px;

              > div {
                height: 100%;
                -webkit-column-count: 5;
                -moz-column-count: 5;
                -ms-column-count: 5;
                -o-column-count: 5;
                column-count: 5;
                columns: 5;

                > ul {
                  list-style: none;

                  > li {
                    position: relative;
                    display: inline-block;
                    font-weight: 600;
                    color: $c-red;

                    &:before {
                      content: '';
                      background-color: #c3262f;
                      height: .4em;
                      width: .4em;
                      border-radius: 5px;
                      position: absolute;
                      right: 0;
                      top: 14px;
                    }

                    a {
                      display: inline-block;
                      padding: .4em .8em;
                    }

                    > ul {
                      list-style: none;

                      > li {
                        display: inline-block;
                        font-weight: 100;
                        color: #444;
                      }
                    }
                  }
                }

                &:not(:first-child) {
                  display: none;
                }
              }
            }

            footer {
              display: block;
            }
          }
        }
      }
    }
  }

  > a {
    background: white;
    color: $c-red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5em;
    border-radius: .5em 30px 30px .5em;
    font-size: .9em;
    font-weight: 700;
  }

  > i {
    font-size: 1.8em;
    padding: .2em .21em;
  }

  > div {
    background: #fff4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5em;
    border-radius: 30px;
    font-size: .9em;
    font-weight: 700;
  }

  .advanced-search{
    user-select: none;
  }

  @media (max-width: $w-md) {
    ul {
      display: none;
    }
  }

  @media (min-width: $w-md) {
    > i, > div {
      display: none;
    }
  }
}

.page-address {
  font-size: .73em;
  padding: 2em 0;

  i {
    font-size: 1em;
    color: #999;
  }

  ul {
    display: inline-block;
    color: #888;

    li {
      margin: 0;

      a {
        display: inline-block;
        padding: 0 1.5em;
      }

      &:not(:last-child):after {
        content: '/';
        display: inline-block;
      }
    }
  }

  @media (max-width: $w-md) {
    font-size: .6em;
    padding: 2em 0 1em 0;
  }
}

.sidebar {
  margin-bottom: 2em;
  ul {

    li {
      position: relative;
      display: block;
      padding: 0 1em;
      margin: 0;

      a {
        display: flex;
        padding: 1.5em 0;
        align-items: center;
        font-size: .8em;

        i {
          background-color: #7771;
          height: 2.4em;
          width: 2.4em;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 30px;
          color: #222;
          font-size: 1.4em;
          margin-left: .8em;
        }
      }

      &:not(:last-child):after {
        content: '';
        background-color: #6661;
        width: 85%;
        height: 1px;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
      }

      &.active {
        color: $c-red;

        i {
          background-color: $c-red;
          color: white;
        }
      }
    }
  }
}

.profile-edit {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    h2 {

    }

    a {
      color: $c-red;
      font-weight: 600;
      font-size: .9em;
    }
  }

  form {
    margin: 0;

    section {
      padding: 1.5em 2em;

      &:not(:last-child) {
        border-bottom: 1px solid #5551;
      }

    }
  }
}

.home-page {
  .banners {
    .row {
      direction: ltr;

      > div:last-child {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }

      @media (max-width: $w-md) {
        > div:last-child {
          flex-direction: unset !important;
          align-items: center;
          justify-content: space-between;
        }

        img {
          padding: .3em;
        }
      }

    }
  }

  .special-sale-slider {
    .swiper-slide {
      padding: 1.5em 1.5em 0 1.5em;
      position: absolute;

      &:not(:first-child) {
        display: none;
      }

      .discount {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .percentage {
          box-shadow: 1px 3px 8px #4443;
          background-color: #4dcb4d;
          text-align: center;
          border-radius: 3em;
          padding: .85em 0;
          height: 3.2em;
          width: 3.2em;
          color: white;
          z-index: 3;

          span {
            font-size: 1.6em;
            line-height: .7;
          }

          small {
            font-size: .6em;
          }
        }

        .time {
          direction: ltr;

          .flipTimer {
            zoom: .31;

            .digit-set:last-child {
              margin-left: 11px;
            }
          }
        }
      }

      .product-img {
        padding: 0 1.5em;
      }

      h3 {
        color: #444;
        margin-bottom: 2em;
      }

      .price {
        font-size: 1.3em;
      }

      ul {
        margin: 2em 0;

        li {
          position: relative;
          margin: 0;
          padding: 0 1em;
          font-size: .9em;

          &:first-child {
            padding-right: 0;
          }

          &:not(:last-child):after {
            content: '/';
            display: inline-block;
            position: absolute;
            left: 0;
          }
        }
      }

      .product-show-btn {
        font-size: .8em;
        padding: .8em 2.5em;
        background-color: #3fc73f;
      }


      @media (max-width: $w-md) {

        .product-show-btn {
          display: block;
          width: 60%;
          margin: auto;
        }

        .price {
          font-size: 1.2em;
        }

        ul {
          font-size: .8em;
          color: #999;
        }
      }
    }

    .slider-buttons {
      ul {
        li {
          background-color: #f6f6f6;
          border-radius: .9em;
          position: relative;
          text-align: center;
          font-size: .9em;
          display: block;
          margin: .6em 0;
          cursor: pointer;
          padding: 1em;
          color: #666;

          &:hover {
            background-color: #eaeaea;
          }

          &.active {
            border-radius: .9em;
            background-color: $c-red;
            color: white;

            @media (min-width: $w-md) {
              border-radius: .9em .4em .4em .9em;
              &:before {
                content: '';
                top: 0;
                width: 8px;
                right: -4px;
                height: 100%;
                display: block;
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("../img/right.png");
              }
            }
          }
        }
      }
    }

    @media (max-width: $w-md) {
      .col-md-8 {
        height: 34em;
      }
      margin-bottom: 3em;
    }
  }

  .product-footer-features {
    display: flex;
    justify-content: space-between;
    margin: 4em 6em;

    > div {
      font-size: .95em;
      color: #555;

      .img {
        margin: 0 auto;
        display: block;
        height: 3.5em;
        width: 3.5em;
        background-image: url("../img/Annotation.png");
        background-size: cover;
      }

      p {
        padding-top: 1em;
      }

    }

    > div:nth-child(2) {
      .img {
        background-position-x: 25%;
      }
    }

    > div:nth-child(3) {
      .img {
        background-position-x: 50%;
      }
    }

    > div:nth-child(4) {
      .img {
        background-position-x: 75%;
      }
    }

    > div:nth-child(5) {
      .img {
        background-position-x: 100%;
      }
    }

    @media (max-width: $w-md) {
      display: none;
    }
  }

  .product-slider {
    padding: 4em 0 4em 0;
    background-color: white;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5em;

      h2 {
        font-weight: 600;
        font-size: 1.5em;
        margin: 0;
      }

      a {
        background-color: $c-red;
        color: white;
        padding: .8em 2em;
        border-radius: 3em;
        font-size: .7em;
      }
    }

    @media (min-width: $w-md) {
      .height-c {
        height: 380px;
      }
    }

    @media (max-width: $w-md) {
      padding: 3em 0 4em 0;

      header {
        padding: 0 1em;

        h2 {
          font-size: 1.3em;
        }
      }

      > div {
        padding: 0;
      }
    }

  }

  .recommended-products {
    background-image: url("../img/slider5.jpg");
    padding: 4em 0;

    @media (max-width: $w-md) {
      padding: 3em 2em;

      img {
        margin: 1em 0;
      }
    }
  }

  .brands {
    padding-top: 4em;

    .images {
      display: flex;
      flex-wrap: wrap !important;

      a {
        flex: 1 1 auto;
        display: block;
        overflow: hidden;
        border-radius: 0.5em;
        border: 1px solid #8882;
        margin: 5px;
        width: 11%;
      }
    }

    @media (max-width: $w-md) {
      .images {
        a {
          width: 40%;
        }
      }
      padding: 4em 0 0 0;
    }
  }

  .score-today {
    padding: 3em 0;

    .main-box {
      text-align: center;
      padding: 1.5em;

      img {
        width: 70%;
      }

      h4 {
        margin-bottom: .6em;
        font-size: 1.3em;
        font-weight: 600;
        color: #444;
      }

      small {
        margin-bottom: .7em;
        display: block;
        color: $c-red;
      }

      p {
        font-size: .9em;
        color: #333;
        margin-bottom: .5em;
      }
    }

    @media (max-width: $w-md) {
      padding: 3em 0 0 0;
    }
  }

  .instrument-sets {
    background-color: $c-red;
    padding: 4.5em 0;

    .main-box {
      border-radius: .6em;
      font-size: .9em;

      .price {
        justify-content: center;
      }
    }

    @media (max-width: $w-md) {
      > div {
        padding: 0;
      }
    }
  }

  .tools {
    padding: 5em 0;

    img {
      border-radius: 1.5em;
    }

    .main-box {
      padding: 1.5em;
      border-radius: 1em;

      img {
        border-radius: .7em;
      }
    }

    @media (max-width: $w-md) {
      padding: 4em 3em;

      .main-box {
        padding: 1em;

        > div > div:first-child img {
          margin-bottom: 1em;
        }
      }
    }
  }

  .quick-access {
    .main-box {
      padding: 2em;

      .row {
        > div {
          padding: 0;

          a {
            display: block;
            text-align: center;

            img {
              width: 45%;
              margin-top: 2em;

              @media (max-width: $w-md) {
                width: 70%;
              }
            }

            p {
              font-weight: 600;
              font-size: .9em;
              padding: .8em 0;
              margin: 0;
            }
          }


          @media (min-width: $w-md) {
            &:nth-child(-n+4) {
              a {
                border-bottom: 1px solid #7771;

                p {
                  margin-bottom: 2em;
                }

                img {
                  margin-top: 0;
                }
              }
            }

            &:nth-child(-n+3) {
              a {
                border-left: 1px solid #7771;
              }
            }

            &:nth-child(5) {
              a {
                border-left: 1px solid #7771;
              }
            }

            &:nth-child(6) {
              a {
                border-left: 1px solid #7771;
              }
            }

            &:nth-child(7) {
              a {
                border-left: 1px solid #7771;
              }
            }
          }
        }
      }
    }
  }
}

.login {
  header {
    .tabs {
      display: flex;
      padding: 0 1.5em !important;
      justify-content: center;
      border-bottom: 1px solid #4441;

      li {
        padding: 1.6em 1em;
        margin: 0;
        width: 10em;
        text-align: center;
        cursor: pointer;
        transition: .5s;
        border-bottom: 3px solid #fff1;
        position: relative;
        top: 2px;

        &.active {
          border-bottom: 3px solid $c-red;
          color: $c-red;
        }
      }
    }
  }

  .sign-up-tabs {
    display: flex;
    justify-content: space-around;
    padding: 1.6em 1em;
    border-bottom: 2px solid #5551;

    button {
      width: 30%;
      padding: .7em;
      font-size: .7em;
      border-radius: .4em;
    }
  }

  section {
    border-bottom: 2px solid #5551;
    padding: 1.8em;
  }

  .captcha {
    width: 100%;
    margin: 2em 0;
  }

  form {
    margin: 0;
  }

  footer {
    font-size: .8em;
    font-weight: 600;
    text-align: center;
    padding: 1.8em 0;
    border-top: 1px solid #4441;
    color: $c-red;
  }
}

.score {
  .main-box {
    header {
      padding: 1.8em 2em;

      span {
        color: $c-red;
      }
    }

    ul {
      padding: 1.2em;

      li {
        display: block;
        border: 1px solid #6661;
        margin-bottom: 1em;
        border-radius: .5em;
        font-size: .9em;
        color: #555;
        transition: .4s;

        &:hover {
          box-shadow: 0 0 9px #4442;
        }

        a {
          cursor: pointer;
          display: block;
          padding: 1.5em;

          &:before {
            content: '\f005';
            font-family: "Font Awesome 5 Pro", serif;
            font-weight: 900;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            color: $c-red;
            font-size: 1.3em;
            margin-left: .4em;
            position: relative;
            top: 3px;
          }
        }
      }
    }
  }
}

.shop {
  .products {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3em;
    justify-content: space-between;

    .product-box {
      width: 17.5%;
      display: inline-block;
      margin-bottom: 2.5em;
    }

    @media (max-width: $w-md) {
      justify-content: space-around;

      .product-box {
        width: 100%;

        a {
          display: flex;
          justify-content: space-around;

          .main-box {
            width: 30%;
          }

          .body {
            padding: .5em;
            text-align: right;
            font-size: .9em;

            .product-name {
              margin-top: .5em;
            }

            .stars {
              margin: .5em 0;
            }
          }
        }
      }
    }
  }
}

.product-page {

  .product-box {
    padding: 1em 0;

    .zoom-box {
      margin: 1em 3.5em;

      img {
      }
    }

    .gallery {
      ul {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1em;

        li {
          width: 22%;
          padding: .2em;
          border: 1px solid #4442;
          border-radius: .2em;
          margin: 0;
          cursor: pointer;

          img {

          }
        }
      }
    }

    header {
      padding: 1.2em;
      border-bottom: 2px solid #5551;

      h1 {
        font-size: 1.1em;
        margin-bottom: .2em;
      }

      label {
        font-size: .7em;
        color: #999;
        margin: 0;
      }
    }

    .body {
      padding: 1.8em 1.2em;

      .price {
        font-size: 1.2em;
      }

      .numProduct {
        display: flex;
        margin: 1.1em 0;
        font-size: .9em;

        p {
          margin: 0 .5em;
          padding: .7em 3em;
          border: 1px solid #2221;
          border-radius: .7em;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #4441;
          border-radius: .6em;
          padding: 0 1.3em;
          color: #888;
          cursor: pointer;
        }
      }

      p.details {
        margin-bottom: .5em;
        font-size: .9em;
        color: #555;
      }
    }

    footer {
      border-top: 2px solid #5551;

      .d-flex {
        align-items: center;
        justify-content: space-between;

        .icons {
          font-size: 1.1em;
        }

        .stars {
          zoom: .8;
          margin: 0 0 0 1em;
        }
      }
    }
  }

  .product-info {
    position: relative;
    max-height: 100em;
    transition: 3s;

    &:after {
      content: '';
      width: 100%;
      height: 50px;
      position: absolute;
      bottom: -12px;
      box-shadow: 0 -29px 33px #ffffff;
      background-color: white;
    }

    .text {
      padding: 2.3em 2.3em 3.2em 2.3em;
    }

    .show-more {
      position: absolute;
      bottom: 20px;
      z-index: 10;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 10.5em;
      font-size: .7em;
      background-color: #eee;
      text-align: center;
      color: #555;
      padding: 1em;
      border-radius: .7em;
      cursor: pointer;
    }
  }

  .technical-specifications {
    .details {
      padding: 2.3em;

      ul {
        li {
          display: block;
          padding: 1.2em 1em;
          border-radius: .5em;
          color: #555;
          margin: 0;

          &:nth-child(2n) {
            background-color: #5551;
          }

          span {
            width: 50%;
            display: inline-block;
          }

          p {
            display: inline-block;
            margin: 0;
          }
        }
      }
    }
  }

  .comments {
  }

  .related-products {
    .height-c {
      height: 380px;
    }

    .row {
      display: flex;
      justify-content: space-between;

      .product-box {
        width: 18%;
      }
    }
  }

  > div {
    margin-bottom: 4em;
  }
}

.about-us {
  .brands {
    div {
      display: flex;
      justify-content: space-between;

      a {
        display: inline-block;
        width: 32%;
        margin-bottom: .7em;
        overflow: hidden;
        border-radius: 0.5em;
        border: 1px solid #8882;
      }
    }
  }
}

.my-order {

  .body {
    padding: 0 1.5em 1.5em 1.5em;

    table {

      tr {

        th {
          background-color: #4449;
          vertical-align: middle;
          color: white;
          font-weight: 100;
          border: unset;

          &:first-child {
            border-radius: 0 10px 10px 0;
          }

          &:last-child {
            border-radius: 10px 0 0 10px;
          }
        }

        td {
          vertical-align: middle;
          border: unset;
          color: #666;
        }

        &:nth-child(2n) {
          td {
            background-color: #5551;
            font-weight: 100;
            border: unset;

            &:first-child {
              border-radius: 0 10px 10px 0;
            }

            &:last-child {
              border-radius: 10px 0 0 10px;
            }
          }
        }
      }

      @media (min-width: $w-md) {
        display: table;
      }
    }
  }
}

.order-details {

  section:first-child {
    border-bottom: 1px solid #8881;
  }

  @media (max-width: $w-md) {
    header {
      font-size: .9em;
      text-align: center;

      h2 {
        margin-bottom: 1em !important;
      }

      a {
        color: $c-red;
        font-weight: 600;
        font-size: .9em;
      }
    }

    .product-details {
      padding: .8em .5em .5em .5em;
      display: flex;
      justify-content: space-between;

      .product-img {
        width: 30%;

        img {
          width: 100%;
          border: 1px solid #4442;
        }
      }

      .body {
        width: 65%;
        font-size: .9em;

        > div:first-child {
          border-bottom: 1px solid #4441;
        }

        > div {
          justify-content: space-between;
          font-size: .8em;

          strong {
            padding-left: .5em;
          }
        }

        > div:last-child {
          flex-direction: column;
          padding-top: .3em;

          > div {
            padding: .3em 0;
          }
        }
      }

      div {
        display: flex;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #6664;
      }
    }

    .address {
      border-radius: 1em;
      margin: 2.5em;
      background-color: #8881;
      padding: 2em;
      font-size: .8em;
      line-height: 4;

      p {
        margin: 0;
      }
    }
  }


  @media (min-width: $w-md) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {

      }

      a {
        color: $c-red;
        font-weight: 600;
        font-size: .9em;
      }
    }

    .product-details {
      display: flex;
      padding: 0 2em;
      margin-bottom: 1em;

      .product-img {
        width: 20%;

        img {
          width: 6em;
          border: 1px solid #4442;
        }
      }

      .body {
        width: 80%;

        > div:first-child {
          border-bottom: 1px solid #4441;
        }

        > div {
          justify-content: space-between;
          padding: 1em 0;
          font-size: .8em;

          strong {
            padding-left: .5em;
          }
        }
      }

      div {
        display: flex;
      }
    }

    .address {
      border-radius: 1em;
      margin: 2em;
      background-color: #8881;
      padding: 2em;
      font-size: .8em;
      line-height: 4;

      p {
        margin: 0;
      }
    }
  }


}

.favorite-product {
  .height-c {
    height: 400px;
  }
}

.site-rule {
  .body {
    padding: 2em;

    h4 {
      font-size: 1em;
      color: $c-red;
      font-weight: 600;
    }
  }
}

.return-product {
  .body {
    padding: 0 2em 2em 2em;
  }
}

.add-address {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 1.1em;
      font-weight: 600;
    }

    a {
      color: $c-red;
      font-weight: 600;
      font-size: .9em;
    }
  }

  .address {
    min-height: 20em;
  }
}


