/* add 'newStyleSlide' class to .product-slider in index.html */
/* add 'newStylesSet' class to .instrument-sets in index.html */
/* add 'customRow' class to first .row inside .special-sale-slider  in index.html */
/* add 'newStyleProduct' class to .products in products.html */
.newStyleSlide .swiper-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
.newStyleSlide .swiper-wrapper .swiper-slide{
    height: auto;
}
.newStyleSlide .swiper-wrapper .swiper-slide .main-box{
   width: 100%;
   height: 180px;
   padding: 10px !important;
}
.newStyleSlide .swiper-wrapper .swiper-slide img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.newStyleSlide .swiper-wrapper .swiper-slide .product-name{
   margin-top: .5em;
}
.newStyleSlide .swiper-wrapper .swiper-slide .stars{
   margin: .5em auto;
}
.newStyleSlide .swiper-wrapper .swiper-slide .price{
   flex-direction: column;
}
.newStyleSlide .swiper-wrapper .swiper-slide .price .new{
   text-align: center;
}
.newStylesSet .swiper-wrapper .swiper-slide .main-box{
    padding: 8px !important;
}
.newStylesSet .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 180px;
    object-fit: fill;
}
@media screen and (max-width:750px){
    .newStyleSlide .swiper-wrapper .swiper-slide{
        width: 162px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .newStyleSlide .swiper-wrapper .swiper-slide .main-box{
        height: 162px;
     }
}
@media screen and (max-width:550px){
    .newStyleSlide .swiper-wrapper .swiper-slide{
        width: 46% !important;
        margin-left: 3% !important;
        margin-right: 3%  !important;
    }
    .newStyleSlide .swiper-wrapper .swiper-slide .main-box{
        width: 100% !important;
     }
}
@media screen and (max-width:480px){
    .newStyleSlide .swiper-wrapper .swiper-slide{
        width: 44% !important;
        margin-left: 1% !important;
        margin-right: 1%  !important;
    }
    .newStyleSlide .swiper-wrapper .swiper-slide .main-box{
        width: 100% !important;
     }
}
@media screen and (max-width:400px){
    .newStyleSlide .swiper-wrapper .swiper-slide{
        width: 65% !important;
        margin-left: 2.5% !important;
        margin-right: 2.5%  !important;
    }
    .newStyleSlide .swiper-wrapper .swiper-slide .main-box{
        width: 100% !important;
     }
}
@media screen and (max-width:320px){
    .newStyleSlide .swiper-wrapper .swiper-slide{
        width: 49% !important;
        margin-left: 2.5% !important;
        margin-right: 2.5%  !important;
    }
    .newStyleSlide .swiper-wrapper .swiper-slide .main-box{
        width: 100% !important;
     }
}



.special-sale-slider .row.customRow{
    min-height: 20em;
}
@media screen and (max-width:1200px){
    .special-sale-slider .row.customRow{
        font-size: 12px;
    }
}
@media screen and (max-width:990px){
    .special-sale-slider .row.customRow{
        font-size: 10px;
    }
}
@media screen and (max-width:770px){
    .special-sale-slider .row.customRow{
        font-size: 12px;
    }
    .special-sale-slider .col-md-4{
        margin-top: 20px;
    }
    .special-sale-slider .swiper-slide .product-img{
        height: 16em;
    }
    .special-sale-slider .swiper-slide .product-img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
@media screen and (max-width:400px){
    .special-sale-slider .row.customRow{
        font-size: 10px;
    }
}
/* div.special-sale-slider .row.innerRow{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */



.products.newStyleProduct{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}
.products.newStyleProduct .product-box{
    width: calc((100% - (5 * 2em)) / 5);
    margin: 1em;
}
.products.newStyleProduct .product-box .price{
    flex-direction: column;
}
.products.newStyleProduct .product-box .price .new{
    text-align: center;
}
.products.newStyleProduct .product-box .stars{
    margin: .5em auto;
}
.products.newStyleProduct .product-box .main-box{
    width: 100%;
    height: 180px;
    padding: 8px;
}
.products.newStyleProduct .product-box .main-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media screen and (max-width:1000px){
    .products.newStyleProduct .product-box{
        width: calc((100% - (4 * 2em)) / 4);
        margin: 1em;
    }
    .products.newStyleProduct .product-box .main-box{
        height: 140px;
        padding: 8px;
    }
}
@media screen and (max-width:770px){
    .products.newStyleProduct{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }
    .products.newStyleProduct .product-box{
        width: 100%;
        margin: .5em 0;
    }
    .products.newStyleProduct .product-box .price{
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
    }
    .products.newStyleProduct .product-box .main-box{
        width: 160px !important;
        height: 160px !important;
    }
}
@media screen and (max-width:400px){
    .products.newStyleProduct .product-box .main-box{
        width: 120px !important;
        height: 120px !important;
    }
}

.newBannerStyle .col-12.col-md-3{
    justify-content: space-between;
}
.newBannerStyle .col-12.col-md-3 a{
    margin-bottom: 0 !important;
}



