body.disableScroll {
  overflow: hidden;
}

#blackFilter {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: none;
}

#blackFilter.show {
  display: block;
  -webkit-animation: blackAnime .5s linear;
     -moz-animation: blackAnime .5s linear;
          animation: blackAnime .5s linear;
}

@-webkit-keyframes blackAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes blackAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blackAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.galleryLight {
  width: 30em;
  height: 30em;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 21;
  background-color: white;
  border-radius: 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.galleryLight img {
  width: 100%;
  max-height: 100%;
}

.galleryLight i {
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 1.5em;
  cursor: pointer;
  color: black;
}

.galleryLight.show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: galleryAnime .5s linear;
     -moz-animation: galleryAnime .5s linear;
          animation: galleryAnime .5s linear;
}

@-webkit-keyframes galleryAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes galleryAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes galleryAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.zoom-box {
  cursor: pointer;
}

.product-page .product-box header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.product-page .product-box header .garranty {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-page .product-box header .garranty p {
  font-size: 1em;
  margin: 0;
  margin-right: .3em;
}

.product-page .product-box header .garranty i {
  font-size: 1em;
}

@media screen and (max-width: 1000px) {
  .product-page .product-box header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .product-page .product-box header .garranty {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-page .product-box header .garranty p {
    font-size: 1em;
    margin: 0;
    margin-right: .3em;
  }
  .product-page .product-box header .garranty i {
    font-size: 1em;
  }
}
/*# sourceMappingURL=newProductStyle.css.map */