.newStyleSlide .swiper-wrapper .swiper-slide .product-name{
    width: 100%;
    height: 4em;
    font-size: .8em;
}
.home-page .score-today .main-box h4{
    margin-top: 1em;
}
.score-today button[type="submit"]{
    border:none ;
    outline: none;
    cursor: pointer;
}
.score-today form{
    cursor: pointer;
}
.newStylesSet .product-box .product-name{
    height: 4em;
}
.home-page .brands .images{
    display: flex;
    justify-self: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    a{
        width: calc((100% - (8 * 1em)) / 8);
        height: 2.5em;
        margin: .5em;
        flex: none;
        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}
@media screen and (max-width:1000px){
    .home-page .brands .images{
        a{
            width: calc((100% - (6 * 1em)) / 6);
            height: 2em;
            margin: .5em;
        }
    }
}
@media screen and (max-width:750px){
    .home-page .brands .images{
        a{
            width: calc((100% - (4 * 1em)) / 4);
            height: 2em;
            margin: .5em;
        }
    }
}
@media screen and (max-width:480px){
    .home-page .brands .images{
        a{
            width: calc((100% - (3 * 1em)) / 3);
            height: 2em;
            margin: .5em;
        }
    }
}
@media screen and (max-width:320px){
    .home-page .brands .images{
        a{
            width: calc((100% - (3 * 1em)) / 3);
            height: 1.7em;
            margin: .5em;
        }
    }
}
.newStyleProduct{
    .product-box .product-name{
        height: 4em;
    }
}
.products.newStyleProduct .product-box .price{
    justify-content: space-around;
}
@media screen and (max-width:760px){
    .products.newStyleProduct .product-box .stars{
        max-width: 100%;
        min-width: 0;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
@media screen and (max-width:400px){
    .newStyleProduct{
        .product-box .product-name{
            font-size: .7em;
        }
    }
    .products.newStyleProduct .product-box .price .new{
        font-size: 1em;
    }
}
@media screen and (max-width:300px){
    .home-page .special-sale-slider .col-md-8{
        height: 36em;
    }
}
.home-page .special-sale-slider .swiper-slide .product-show-btn{
    white-space: nowrap;
}
@media screen and (max-width:280px){
    .home-page .special-sale-slider .col-md-8{
        height: 38em;
    }
    .home-page .special-sale-slider .swiper-slide .product-show-btn{
        width: 80%;
    }
}
// .newStylesSet .product-box .product-name{
//     display: none;
// }
.home-page .special-sale-slider .swiper-slide .discount .percentage{
    width: 4em !important;
    height: 4em !important;
    border-radius: 50% !important;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:700px){
    .home-page .special-sale-slider .swiper-slide .discount .percentage{
        width: 4.5em !important;
        height: 4.5em !important;
    }
}
.products.newStyleProduct{
    .product-box.notInStock{
        .price{
            span{
                color: rgb(210,210,210);
            }
        }
    }
}
.nav-bar-main-bottom > ul > li{
    transition: all .3s linear;
    a{
        transition: all .3s linear;
    }
    &:hover{
        background-color: white;
        a{
            color: crimson !important;
        }
    }
}

.nav-bar-main-bottom > ul > li.category > div .category-sub .body > div{
    ul li{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        a{
            width: 100%;
            // padding: 0;
        }
    }
}
.nav-bar-main-bottom > ul > li.category > div .category-sub .body > div > ul > li > ul > li{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    a{
        padding-left: 0;
        padding-right: 0;
    }
}
.nav-bar-main-bottom > ul > li.category > div .category-sub .body > div > ul > li a{
    padding-left: 0;
    padding-right: .6em;
}
.home-page .special-sale-slider .swiper-slide{
    padding: 0 !important;
}
.special-sale-slider .row.customRow{
    min-height: 22em ;
}
@media screen and (max-width:1200px){
    .special-sale-slider .row.customRow{
        min-height: 24em ;
    }
}
@media screen and (max-width:400px){
    .home-page .special-sale-slider .swiper-slide .discount{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .time{
            margin-top: 1em;
        }
    }
    .home-page .special-sale-slider .col-md-8{
        min-height: 38em ;
    }
}
.shop .products .product-box a .main-box{
    flex-shrink: 0;
}
.shop .products .product-box a .body{
    width: 100%;
}
@media screen and (max-width:500px){
    .shop .products .product-box .price .old{
        font-weight: lighter;
        font-size: .7em;
    }
    .shop .products .product-box .price .new{
        font-weight: lighter;
        font-size: .8em;
    }
}
@media screen and (max-width:400px){
    .category-search .body .buttons a{
        padding: .5em .7em;
    }
}
@media screen and (min-width:1000px){
    .nav-bar-main-bottom{
        padding: 0 !important;
    }
    .nav-bar-main-bottom > ul > li{
        padding-top: .5em;
        padding-bottom: .5em;
    }
    .nav-bar-main-bottom > a{
        margin-top: .5em;
        margin-bottom: .5em;
        margin-left: .5em;
    }
}
